.customer-list{
    padding: 1rem 1rem 0 1rem ;
    border-radius: 25px;
    border: 3px solid #382a24;
}

.customer-list-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
}

#search-bar{
    height: 2rem;
    /* margin-left: 1rem; */
    border-style: none;
    /* text-align: center; */
    /* width: 2rem; */
    outline: none;
}

#search{
    padding-bottom: .5rem;
    border-bottom: 1px solid rgba(10, 10, 10, 0.4);

}

.customer-list-header button{
    margin-right: 1rem;
    /* margin-left: 5.4rem;
    margin-bottom: 1rem;
    margin-top: .5rem; */
    /* height: 2.5rem; */
}


.table-dark{
    --bs-table-bg: tomato;
    /* --bs-table-striped-bg: ; */
}

/* .st-rejected{
    background-color: rgb(255, 101, 101);
    color: black;
    text-align: center;
}

.st-new{
    background-color: yellowgreen;
    text-align: center;
}
.st-accepted{
    background-color: yellowgreen;
    text-align: center;
} */



.pagination{
    --bs-pagination-padding-x: 1.25rem;
    --bs-pagination-bg: tomato;
    --bs-pagination-color: white;
}

.page-link:hover{
    background-color: #2c3034;
    color: white;
    
}
.page-link:focus{
    background-color: #2c3034;
    color: white;
    border-color:  #2c3034;
    /* z-index: 3; */
    box-shadow: 0px 0px 3px 3px tomato;
}